{% extends "base.html" %} {% block content %} {% load static %}
<div>
  <div class="card mb-4">
    <div class="card-header d-flex align-items-center justify-content-between">
      <h5 class="mb-0">Departments Form</h5>
      <small class="text-muted float-end"></small>
    </div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        
        
        <div class="row mb-3">
          <label class="col-sm-2 col-form-label" for="{{form.department_name.id_for_label}}"
            >Department Name</label
          >
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="{{form.department_name.id_for_label}}"
              name="{{form.department_name.name}}"
              v{% if form.department_name.value %} value="{{ form.department_name.value }}"{% endif %}
            />
            {% for error in form.department_name.errors %}
            <div class="d-flex w-50 justify-content-center px-2 text-danger">{{ error }}</div>
          {% endfor %}
          </div>
          
        </div>
        <div class="row mb-3">
          <label class="col-sm-2 col-form-label" for="{{form.no_of_employees.id_for_label}}"
            >Number of Employees</label
          >
          <div class="col-sm-10">
            <input
              type="text"
              id="{{form.no_of_employees.id_for_label}}"
              class="form-control phone-mask"
              name="{{form.no_of_employees.name}}"
              {% if form.no_of_employees.value %} value="{{ form.no_of_employees.value }}"{% endif %}
            />
            {% for error in form.no_of_employees.errors %}
            <div class="justify-content-center p-2 text-danger">{{ error }}</div>
          {% endfor %}
          </div>
        </div>
       

        

        
       
        <div class="row justify-content-end mt-4">
            <div class="col-sm-10 d-flex justify-content-end gap-2">
              <a class="btn btn-secondary text-white" href="{% url 'my_app:department_view' %}"> Back </a>
              <button type="submit" class="btn btn-primary">Add</button>
              
            </div>
      </form>
    </div>
  </div>
</div>

<script src="{% static 'assets/js/form-basic-inputs.js' %}"></script>


{% endblock %}
